<div id="<%= dom_id lore %>">
  <p>
    <strong>Title:</strong>
    <%= lore.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= lore.content %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= lore.image %>
  </p>

</div>
