<p style="color: green"><%= notice %></p>

<h1 class="mb-5">Lore</h1>

<div id="lores" class="d-flex flex-column">
    <% @lores.each do |lore| %>
      <ul>
     <li><h3 class="mb-4"><%= link_to lore.title, lore, class:'text-decoration-none text-black link-primary' %></h3></li>
     </ul>
  <% end %>
</div>

<%= link_to "New lore", new_lore_path, class:'btn btn-primary mb-5 mt-5' %>


