<h1>Editing practitioner</h1>

<%= render "form", practitioner: @practitioner %>

<br>

<div>
  <%= link_to "Show this practitioner", @practitioner %> |
  <%= link_to "Back to practitioners", practitioners_path %>
</div>
