/*

body{
background-color: #D9E0F1;

#plants, #parasites{
    display:flex;
    flex-wrap:wrap;

    .card{
        background:#F5F5F5;
        min-width:300px;
        margin:5px;
        border:none;
        border-radius:30px;
        justify-content: center;
        align-items: center;
        text-align: center;

        .card-img-top{
            aspect-ratio: 1;
            object-fit: cover;
            border-radius:100%;
            max-width:50%;
            margin-top:30px;
        }

    }
}

.btn {
    margin:5px;
}
}

*/